:root {
    --main-color: #edf2f4;
    --secondary-color: #8d99ae;
    --tertiary-color: hsl(217, 10%, 42%);
    --extra-color: #a0dcdd;
}

.tasks {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-areas: 
            "s f t"
            "s f c";
    grid-template-columns: 1.5fr 0.01fr 8fr ;
    grid-template-rows: 1.5fr 8fr;
    background-color: gray;
}

.add-btn {
    position: fixed;
    right: 1%;
    bottom: 1%;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: none;
}

.side-bar {
    position:relative;
    flex-direction: column;
    grid-area: s;
    background: var(--tertiary-color);
}

.top-bar {
    grid-area: t;
    background: var(--secondary-color);
}

.content {
    grid-area: c;
    background-color: var(--main-color);
}